.create {
      background-color: #e6b25d;
      color: #000000;
      border-radius: 10px;
      padding: 40px;
      font-weight: 300;
      margin: 10px 60px;
}

.create h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
}

small {
      font-size: 1rem;
      color: #c70000;
      margin-top: 5px;
      display: block;
      font-weight: 400;
}

.title, .image, .chef {
      padding: 10px;
      font-size: 1.1rem;
      border: none;
      border-radius: 5px;
      background-color: #f0f0f0;
}

.description, .ingredients, .instructions {
      padding: 10px;
      font-size: 1.1rem;
      border: none;
      border-radius: 5px;
      background-color: #f0f0f0;
}

.create button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
}

.create select {
      padding: 10px;
      font-size: 1.1rem;
      border: none;
      border-radius: 5px;
      background-color: #f0f0f0;
}

.create select option {
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      background-color: #f0f0f0;
}
